TF_SERVER_PORT=8081
TF_MAIL_SERVER_PORT=8082
TF_DB_URL=jdbc:mysql://localhost:3306/talentflow_hr?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
TF_DB_USERNAME=talentflow
TF_DB_PASSWORD=change_me_db_password
TF_DB_ROOT_PASSWORD=change_me_root_password
TF_REDIS_HOST=127.0.0.1
TF_REDIS_PORT=6379
TF_REDIS_PASSWORD=
TF_RABBITMQ_HOST=127.0.0.1
TF_RABBITMQ_PORT=5672
TF_RABBITMQ_USERNAME=guest
TF_RABBITMQ_PASSWORD=change_me_rabbitmq_password
TF_STORAGE_PUBLIC_BASE_URL=http://127.0.0.1:8081/
TF_MAIL_HOST=smtp.qq.com
TF_MAIL_PORT=587
TF_MAIL_USERNAME=
TF_MAIL_PASSWORD=
